* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	align-content: center;
	justify-items: center;
	height: 100vh;
}

.profile-card {
	max-width: 400px;
	margin: 2rem;
	border-radius: 16px;
	box-shadow: 0 48px 40px -10px rgba(0, 0, 0, 0.08);
	background-color: #fff;
	font-family: "Geist";
	overflow: hidden;
	border: 1px solid rgba(0, 0, 0, 0.05);
}

.profile {
	display: flex;
	padding: 1.5rem;
	gap: 24px;
	align-items: center;
	background-color: #f6f6f6;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	border-end-start-radius: 24px;
	border-end-end-radius: 24px;
}

.profile img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 50%;
	border: 6px solid rgba(0, 0, 0, 0.02);
}

.profile-content {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.profile-content .name {
	font-size: 24px;
	text-align: left;
	line-height: 1.2;
	color: #1f2937;
}

.profile-content .title {
	color: #4b5563;
}

.bio {
	line-height: 1.5;
	color: #6b7280;
	padding: 1.5rem;
}
.bio span {
	color: #1f2937;
	font-weight: 600;
}
