* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	align-content: center;
	justify-items: center;
	height: 100vh;
}

.profile-card {
	max-width: 320px;
	margin: 2rem;
	border-radius: 16px;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	text-align: center;
	font-family: "Geist";
	overflow: hidden;
}

.profile-card figure {
	background: #000;
	padding-block: 2rem;
}

.content-container {
	padding: 1.5rem;
}

.profile-card img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 50%;
	border: 3px solid #4f46e5;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-card .name {
	margin-bottom: 0.5rem;
	font-size: 1.25rem;
	font-weight: bold;
	color: #111827;
}

.profile-card .bio {
	margin: 0;
	font-size: 0.95rem;
	color: #4b5563;
	line-height: 1.4;
}
